# ── MongoDB Atlas ─────────────────────────────────────────────────────────────
# Get this from MongoDB Atlas → your cluster → Connect → Drivers
# Format: mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/catalog?retryWrites=true&w=majority
MONGODB_URI=mongodb+srv://cataloguser:JetqxG8ygVDDdr5rnpm i cloudinary@cluster0.abc12.mongodb.net/catalog
?retryWrites=true&w;=majority
# ── Cloudinary ────────────────────────────────────────────────────────────────
# Get these from cloudinary.com → Dashboard
CLOUDINARY_CLOUD_NAME=dgzobxwcx
CLOUDINARY_API_KEY=366291149672589
CLOUDINARY_API_SECRET=**********
